:root {
    /*Primary and secondary colors*/
    --primary: #7A0C0C;

    --body-bg: #eee;
    --p-bg: #fff;

    --primary-font-color: #000; 
    --secondary-font-color: #7A0C0C;

    --trim-color: #7A0C0C;
    --secondary-trim-color: #CBD7D8;


    /*Unique colors*/
    --paragraf-border: #3e46b0;
    --main-body-bg: rgb(103, 103, 164);


    /*Font styles*/
    --brand-name: Helvetica;
}

body {
    background-color: var(--body-bg);
    margin: 0;
}

#hdr-bar {
    background-color: #d18b8b;
    text-align: center;
    margin: auto;
    line-height: 0.8rem;
    display: flex;
    justify-content: space-between;
}

.hdr-boxes {
    width: 20rem;
    display: flex;
    align-items: center;
    background-color: var(--paragraf-border);
}

#brand {
    font-family: var(--brand-name);
}
.button-action{
    cursor: pointer;
}
.menu-icon{
    font-size: 3rem;
}