:root {
    /*Primary and secondary colors*/
    --primary: #7A0C0C;
    --secondary: #fff;

    --body-bg: #eee;
    --p-bg: #fff;

    --primary-font-color: #000; 
    --secondary-font-color: #7A0C0C;

    --trim-color: #7A0C0C;
    --secondary-trim-color: #CBD7D8;


    /*Unique colors*/
    --paragraf-border: #3e46b0;
    --main-body-bg: rgb(103, 103, 164);

    --nav-bar: #0000006f;


    /*Font styles*/
    --brand-name: Helvetica;
}


body {
    background-color: var(--body-bg);
    margin: 0;
}








/* ################################################### */
/* ############## Homepage navigation ################ */
/* ################################################### */

.page-banner {
	background: url('../img/BG_BANNER.svg') no-repeat;
	width: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
}

nav {
    background-color: var(--nav-bar);
    backdrop-filter: blur(40px);
}

nav h1 {
    color: var(--secondary);
}

.nav-container {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.hdr-boxes {
    padding: 1rem;
    background-color: var(--paragraf-border);
    display: flex;
    align-items: center;
}

.hdr-boxes p {
    max-width: max-content;
    margin: auto;
}

#brand {
    font-family: var(--brand-name);
}

.button-action{
    cursor: pointer;
    transition: 200ms;
    flex-shrink: 0;
    
}

.container {
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
}

.container-middle {
    width: 1000px;
    margin: auto;
    margin-top: 5rem;
    padding: 2rem;
    line-height: 1.5rem;
}

.container-flexbox {
    display: flex;
    justify-content: center;
}

.cnt-flex-left {
    width: 40%;
}

.cnt-flex-right img {
    width: 400px;
}

.button-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

.btn-primary {
    text-decoration: none;
    padding: 1rem 2rem;
    margin-right: 1rem;
    background-color: #00145f;
    color: #fff;
    border-radius: 1rem;
}

#nav-con{
    position: relative;
    display: flex;
    background-color: #fff;
}

.menu{
    display: none;
}









/* ####################################### */
/* ############## SANDBOX ################ */
/* ####################################### */

#sandbox {
    width: 40rem;
    min-height: 20rem;
    margin: auto;
    margin-top: 4rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
}

#button1 {
    padding: 1rem 2rem;
    margin: auto;
    background-color: #00145f;
    color: #fff;
    border-radius: 1rem;
}

#button2 {
    padding: 1rem 2rem;
    margin: auto;
    background-color: #f4af1b;
    border-radius: 1rem;
}

#colorpalette {
    width: 40rem;
    min-height: 10rem;
    margin: auto;
    margin-top: 4rem;
    border-radius: 1rem;
    display: flex;
}

#colorpalette div {
    flex: 1;
    margin: 0.2rem;
    border-radius: 0.5rem;
}

#color1 {
    background-color: #00145f;
}

#color2 {
    background-color: #f4af1b;
}

#color3 {
    background-color: #f9fafa;
}

#color4 {
    background-color: #000;
}
