:root {
    /*Primary and secondary colors*/
    --primary: #030E4F;
    --secondary: #F49F1C;

    --body-bg: #eee;
    --p-bg: #fff;

    --primary-font-color: #FFFFFF; 
    --secondary-font-color: #7A0C0C;

    --trim-color: #7A0C0C;
    --secondary-trim-color: #CBD7D8;


    /*Unique colors*/
    --paragraf-border: #3e46b0;
    --main-body-bg: rgb(103, 103, 164);

    --nav-bar: #0000006f;


    /*Font styles*/
    --brand-name: Helvetica;

    /* Admin design */
    --ad-background: #f5f7fb;
    --ad-primary: white;
    --ad-secondary: #030E4F; /* #111827 */
    --ad-secondary-hover: #1c286b; /* #1f2937 */

    --ad-font-dark: black;
    --ad-font-light: white;
    --ad-font-lightdark: #9ca3af;

    --ad-boxshadow: 0 4px 10px rgba(0,0,0,0.05);

    --ad-light-table-hdr: #3e46b0;
    --ad-light-table-seperator: rgb(103, 103, 164);

    --ad-edit-btn: #3b82f6;
    --ad-delete-btn: #ef4444;

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 0;
    background-color: var(--body-bg);
    margin: 0;
}

.text-primary-color {
    color: var(--primary-font-color);
}

footer {
    height: 5rem;
    margin: 0;
    width: 100%;
    background-color: black;
    color: white;
    
    text-align: center; /* Temporary */

    margin-top: auto;
}

.error {
    color: red;
    font-size: 1.5rem;
    text-decoration: underline;
}

.admin {
    color: #7400b8;
}

.user {
    color: #1c8525;
}

/* ################################################### */
/* ############## Homepage navigation ################ */
/* ################################################### */
*{
    box-sizing: border-box;
}
.page-banner {
	background: url('../img/bg-banner.svg') no-repeat;
	width: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
}

nav {
    background-color: var(--nav-bar);
    backdrop-filter: blur(40px);
}

nav h1 {
    color: var(--secondary);
}

.nav-container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.hdr-boxes {
    padding: 1rem;
    background-color: var(--paragraf-border);
    display: flex;
    align-items: center;
}

.hdr-boxes p {
    max-width: max-content;
    margin: auto;
}

#brand {
    font-family: var(--brand-name);
}

.button-action{
    cursor: pointer;
    transition: 200ms;
    flex-shrink: 0;
}

#menu-btn {
    background: none;
    border: none;
}

.container {
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
}

.container-middle {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    margin-top: 5rem;
    padding: 2rem;
}

.container-flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cnt-flex-left {
    width: 40%;
}

.cnt-flex-right img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.button-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

.btn-info {
    text-decoration: none;
    padding: 1rem 3rem;
    margin-right: 1rem;
    background-color: #3e46b0;
    color: #FFFFFF;
    border-radius: 0.5rem;
}

.btn-info:hover {
    background-color: #030E4F;
}

.btn-CTA {
    text-decoration: none;
    padding: 1rem 3rem;
    margin-right: 1rem;
    background-color: #22C55E;
    color: #FFFFFF;
    border-radius: 0.5rem;
}

.btn-CTA:hover {
    background-color: #16A34A;
}

.btn-animation {
    cursor: pointer;
    transition: 0.8s;
}

.btn-animation:hover {
    transform: scale(1.1);
    transition: 1.2s;
}

.btn-animation:active {
    transform: scale(0.9);
    transition: 0.08s;
}

#nav-con{
    position: relative;
    display: flex;
    background-color: #fff;
}

.sidenav{
    height: 100vh;
    z-index: 100;
    position: fixed;
    overflow-y: auto;
    width: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #030E4F;
}

.sidenav a {
    display: inline-block;
    transition: 0.3s;
    font-size: 2rem;
    color: var(--primary-font-color);
    text-decoration: none;
    background-color: #06136A;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

#sidenav-hdr {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
}

#sidenav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
/*
.sidenav a:hover{
    color:rgb(111, 255, 0);
} */

.sidenav .closebutton {
    line-height: 1rem;
    padding: 0.25rem;
    margin: 0.5rem;
    background-color: red;
    border-radius: 0.5rem;
    border: 0.25rem solid black;
    color: black;
    text-decoration: none;
}

#sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99; 
    display: none; 
}

.sidebar-open #sidenav-overlay {
    display: block;
}

body.no-scroll {
    overflow: hidden;
}


/* ######################################## */
/* ############## Contact ################ */
/* ######################################## */
#contactpadge-container{
    margin: auto;
    width: 90%;
    max-width: 60rem;
    padding: 1rem;
}
#contact-h1{
    padding-top: 5rem;
    text-align: center;
    font-size: 2.5rem;
}
#contact-info{
    text-align:center;
    font-size: 1.5rem;
}
#contact-container{
    display: flex;
    gap: 3rem;
    margin-top: 6rem;
    flex-wrap: wrap;
    justify-content: center;
    
}
.contact-flexbox{
    background: -webkit-linear-gradient(-45deg,#1181ad, #06075a);
    width: 100%;
    max-width: 23rem;
    min-height: 15rem;
    margin: auto;
    padding: 2rem;
    padding-top: 0;
    border-radius: 1.5rem;
    border: 0.3rem solid;
    border-color: #2c84c2;
    box-shadow: 0 0 3rem rgb(255, 255, 0);
}
.contact-button{
    background-color: rgb(0, 170, 255);
    max-width: fit-content;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.contact-contactinfo{
font-size: 1rem;
color: #ffffff;
}
#contact-button-text{
    font-size: 1.5rem;
    color: #ffffff;
}
h2{color: #ffffff;}

.contact-button:hover {
    transform: scale(1.1);
    transition: 1.1s;
    cursor: pointer;
}
@media (max-width: 48rem){

#contact-h1{
    font-size: 1.8rem;
}

#contact-info{
    font-size: 1.1rem;
}

#contact-container{
    flex-direction: column;
    gap: 2rem;
}

.contact-flexbox{
    padding: 1.5rem;
}

#contact-button-text{
    font-size: 1.2rem;
}
}
/* ######################################## */
/* ############## Company-Contact ######### */
/* ######################################## */
#company-contact-container{
    width: 90%;
    max-width: 90rem;
    height: fit-content;
    display: flex;
    margin: auto;
    gap: 5rem;
    justify-content: center;
    padding: 5rem;
    padding-top: 1rem;
}
#company-contact-box1{
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #00145f;
    max-width: 50rem;
    min-height: 90rem;
}
#company-contact-box2{
    background-color: #00145f;
    max-width: 30rem;
    min-height: 90rem;
}
.company-contact-h1{
    font-size: 2.5rem;
    color: white;
}
.company-contact-text{
    font-size: 1.3rem;
    color: white;
}
/*form*/
#contact-form{
    background: #001b5c;
    padding-left: 2rem;
    padding-right: 2rem;
}
.contact-label {
    display: block;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.contact-span {
    color: #ff5b5b;
}

.contact-input,#contact-writingspace {
     width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 0.6rem;
    font-size: 1.2rem;
    outline: none;
}

#contact-writingspace {
    resize: vertical;
    min-height: 12rem;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    }

#checkbox-input {
    width: 2rem;
    min-height: 2rem;
}

#checkbox-label {
    margin: 0;
    color: #449bf8;
    font-size: 1rem;
}

.captcha {
    background: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#captcha-box {
    width: 2rem;
    min-height: 2rem;
    border: 0.2rem solid #4d4d4d;
}
#captcha-box:hover{
    cursor: pointer;
}
#captcha-text {
    font-size: 2rem;
    color: #000000;
}

    #submit {
      width: 100%;
      padding: 2rem;
      background: #6c737e;
      border: none;
      border-radius: 0.8rem;
      color: rgb(255, 255, 255);
      font-size: 2rem;
      cursor: pointer;
      transition: 0.2s;
    }

    #submit:hover {
      background: #585858;
    }
.back-btn {
    padding: 1rem;
    border: none;
    background-color: #00145f;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 5rem;
    margin-top: 1rem;
}

.back-btn:hover {
  background-color: #555;
  cursor: pointer;
}
@media (max-width: 48rem){
    
#company-contact-container{
    flex-direction: column;
    width: 95%;
    padding: 1rem;
    gap: 2rem;
}

#company-contact-box1,#company-contact-box2{
    width: 100%;
    min-width: 100%;
}

.back-btn{
    margin-left: 1rem;
    font-size: 1.2rem;
}

#submit{
    font-size: 1.4rem;
    padding: 1rem;
}

.captcha{
    flex-wrap: wrap;
}

#captcha-text{
    font-size: 1rem;
}
    
}
#contact-e-post{
background-color:  #025293;
width: 20rem;
height: 10rem;
margin: auto;
}
#contact-phone-number{
background-color: #025293;
width: 20rem;
height: 10rem;
margin: auto;
}
/* ######################################## */
/* ############## PRODUCTS ################ */
/* ######################################## */

#product-page-main{
    display:flex;
    gap:4rem;
}

#product-page{
    max-width:80rem;
    margin:auto;
    background-color: #00145f;
    padding:2.5rem;
    border-radius:1.25rem;
    margin-top: 2rem;
}

.product-preview{
    flex:1;
}
.selected-image{
    background:#eaeaea;
    border-radius:1.2rem;
    padding:1.8rem;
}

.selected-image img{
    width:100%;
    display:block;
}
#moreimages-container{
    display:flex;
    gap:1rem;
    margin-top:1.25rem;
}
.moreimages{
    width:5.6rem;
    min-height:5.6rem;
    background:#e8e8e8;
    border-radius:0.7rem;
    padding:0.6rem;
    border:0.12rem solid transparent;
    cursor:pointer;
}
#moreimages-special-black{
    background-color: #000000 !important;
}
.moreimages-special-white{
    background-color: #ffffff !important;
}
.moreimages.active{
    border-color:rgb(0, 0, 0);
}
.moreimages img{
    width:100%;
    height:100%;
}
#product-aside{
    flex:1;
}

#product-padge-h1{
    font-size:3rem;
    margin-bottom:2rem;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}
 #rating{
    color:#ffdd00;
    margin-bottom:1.25rem;
}
#rating-text{
    color: white;
}

#product-price{
    display:flex;
    align-items:center;
    gap:1rem;
    margin-bottom:3rem;
}

#product-h2{
    font-size:2.6rem;
}

.old-price{
    color:#bebebe;
    text-decoration:line-through;
    font-size: 1.4rem;
}

.discount{
    background:#a8fda8;
    color:green;
    padding:0.5rem;
    border-radius:0.5rem;
    font-size:0.9rem;
    
}
.product-description{
    line-height:1.8;
    color:#ffffff;
    font-size: 1.3rem;
    margin-bottom: 4rem;
}
#product-buy-buttons{
    display:flex;
    flex-direction:column;
    gap:1rem;
}
#product-buy-buttons button{
    height:3.8rem;
    border-radius:0.8rem;
    font-size:1.2rem;
    font-weight:bold;
    cursor:pointer;
    border: none;
}
#shopping-cart-button{
    background:rgb(0, 0, 0);
    color: white;
}
#buy-button{
    background-color: #22C55E;
    color: white;
}
#product-bottom-section{
    margin-top:5rem;
}
.bottom-content{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: stretch;
}
.bottom-text{
    flex:1;
    line-height:2;
    color:#555;
}
.bottom-image{
    flex:1;
}

.bottom-image img{
    width:100%;
    border-radius:1.25rem;
}

@media(max-width:62.5rem){
#product-page-main{
    flex-direction:column;
}
}


#product-selection-menu .selection-choice {
    cursor: pointer;
    color: #737373;
    margin-right: 2rem;
}

#product-selection-menu .selection-choice.active {
    
    color: white;
    border-bottom: 0.3rem solid white;
}

#product-selection-menu{
    display: flex;
    gap: 2.5rem;
}
.product-list li{
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem;
}
.product-description-text{
    color: white;
    font-size: 1.2rem;
}

#reviews.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#reviews.active hr {
    width: 100%;
}

.review-container {
    min-width: 50rem;
    min-height: 40rem;
    max-width: 80rem;



    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.messages-body {
    
    background-color: #025293;
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 2rem;
    max-width: 58rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

}

.messages-body form {
    width: 52.5rem;
    max-width: fit-content;
    background-color: #014175;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.message-hdr {

    width: 100%;

}

.message-hdr label {

    color: white;
    
}

.message-body {
    padding: 0.5rem;
    width: 50rem;
    background-color: rgb(255, 255, 255);

    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-body input {

    width: 50rem;
    min-height: 2rem;

    border: 1px solid black;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

}

.message-body button {

    height: 2rem;
    width: 2rem;

    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

}

.message-body button:hover {

    cursor: pointer;

}

#msg-btn {

    font-size: 1rem;

}

.messages-container {
    width: 52.5rem;
    background-color: #014175;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;

}

.message {
    background-color: #025293;
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.message .message-hdr img, .message .message-hdr div .default-pfp {
    background-color: white;
    width: 4.5rem;
    height: 4.5rem;
    padding: 0.25rem;
    border-radius: 50%;
}

.message-hdr {

    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.message-hdr-desc {
    color: white;
    margin-left: 1rem;
    line-height: 0.4rem;
    min-width: max-content;
}

.message-hdr-time {
    width: 100%;
    height: 4.5rem;

    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.message-hdr-time .msg-right {
    color: white;
    width: fit-content;
    margin: 0;
}

.message-hdr-desc .small {
    font-size: 0.8rem;
}

.message-hdr-desc .admin {
    color: #be5dff;
    
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.message-hdr-desc .member {
    color: #19a84d;
    
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.message-hdr-desc .og {
    color: #ddc525;
    
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.message-content {

    color: black;
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;

}


.selection-content {
    display: none;
}

.selection-content.active {
    display: block;
}

.selection-choice{
    display:flex;
    gap:2.5rem;
    border: transparent;
    border-bottom:0.1rem solid #cecdcd ; 
    padding-bottom:1.2rem;
    margin-bottom:2.5rem;
    font-weight:bold;
    cursor:pointer;
    background-color: transparent;
}

.selection-choice.active{
    border-bottom:0.2rem;
}

/* ################################################## */
/* ############## Informations sida ################# */
/* ################################################## */
#info-padge-contatiner{
    max-width: 70rem;
    min-height: 100rem;
    margin: auto;
    gap: 5rem;
    background-color: #00145f;
    padding: 5rem;
    padding-top: 1rem;
    border-radius: 2rem;
    margin-top: 2rem;
}
.info-padge-h1{
    color: white;
}
.info-padge-text{
    color: white;
    font-size: 1.3rem;
}

/* ######################################## */
/* ############## SETTINGS ################ */
/* ######################################## */

.settings {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.settings-container {
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.settings-hdr {
    background-color: var(--paragraf-border);
    color: var(--primary-font-color);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin: auto;
}

.settings-hdr h1 {
    margin: 0;
    margin-left: 1rem;
}

.settings-body {
    width: 40rem;
    min-height: 35rem;
    margin: 0rem 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.settings-body button {
    font-size: 1rem;
}

.settings-flexbox {
    display: flex;
    gap: 4rem;
    
    padding: 2rem;
    
    background-color: #ddd;
    border-radius: 0.5rem;
}

.settings-pfp {
    padding: 0;
    margin: 0;
    width: 8rem;
    height: 8rem;

    border: 3px dashed #6aa6ff;
    border-radius: 50%;

    cursor: pointer;
    transition: 0.2s ease;

}

.settings-pfp img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.settings-pfp:hover,
.settings-pfp.dragover {
    border-color: var(--paragraf-border);
}

.default-pfp {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-default-pfp {
    color: var(--paragraf-border);
    font-size: 8rem;
}

.settings-pfp-desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.settings-status {
    margin-top: 1.5rem;
}

.settings-pfp-desc input {
    min-width: 16rem;
}

#successMessage {

    transition: opacity 0.3s ease;

}

.btn-logout {
    background-color: var(--ad-delete-btn);
    color: var(--ad-font-light);

    text-decoration: none;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
}

.btn-logout:hover {
    background: #a01f1f;
}

.btn-panel {
    background-color: #881dcf;
    color: var(--ad-font-light);

    text-decoration: none;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
}

.btn-panel:hover {
    background: #631597;
}

.settings-btm {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.settings-btm a {
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
    margin: 0;
}

.settings-btm button {
    font-size: 1rem;
    margin: 0;
}

/* ######################################## */
/* ########### SETTINGS MODAL ############# */
/* ######################################## */

.settings-modal {
    position: fixed;
    inset: 0;

    display: none;
    align-items: center;
    justify-content: center;

    padding: 1rem;

    background-color: rgba(0, 0, 0, 0.75);

    z-index: 9999;
}

.settings-modal-content {
    max-width: 80rem;

    padding: 1.5rem;

    background-color: var(--primary-background, white);

    border-radius: 0.5rem;

    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.35);
}

.settings-crop-image {
    display: block;

    min-width: 60rem;
    max-width: 70rem;
    max-height: 20rem;

    border-radius: 0.5rem;
}

.settings-crop-buttons {
    display: flex;
    gap: 1rem;

    margin-top: 1.5rem;
}

.settings-crop-buttons button {

    flex: 1;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease;
    
}

.zero-mrg {
    font-size: 1rem;
    margin: 0;
}

.cropper-view-box,
.cropper-face {
    border-radius: 50%;
}

/* ######################################## */
/* ############## ADMIN ################ */
/* ######################################## */

#admin-panel-body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    height: 100vh;
    background: var(--ad-background);
}

/* Admin sidebar */
.sidebar {
    width: 15rem;
    background: var(--ad-secondary);
    color: white;
    padding: 0 1.25rem;
}

.sidebar h2 {
    font-size: 1.5rem;
    margin: 1.25rem 0;
}

.sidebar a {
    display: block;
    color: var(--ad-font-lightdark);
    text-decoration: none;
    padding: 0.75rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.sidebar a:hover {
    background: var(--ad-secondary-hover);
    color: white;
}

/* Admin panel layout */
.panel-layout {
    flex: 1;
    padding: 0 1.25rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
}

.header h1 {
    font-size: 1.75rem;
    margin: 1.25rem 0;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: 1.25rem;
}

.card {
    background: var(--ad-primary);
    padding: 1.25rem;
    border-radius: 1rem;
    box-shadow: var(--ad-boxshadow);
}

.card h3 {
    font-size: 1.25rem;
    margin-top: 0rem;
    margin-bottom: 0.75rem;
}

.table {
    margin-top: 1.75rem;
    background: var(--ad-primary);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: var(--ad-boxshadow);
}

.table table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 1rem;
    text-align: left;
}

.table th {
    background: var(--ad-light-table-hdr);
    color: var(--ad-font-light);
}

.table tr:not(:last-child) {
    border-bottom: 2px solid var(--ad-light-table-seperator);
}

.btn {
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0rem 0.25rem;
}

.btn-edit {
    background: var(--ad-edit-btn);
    color: var(--ad-font-light);
}

.btn-delete {
    background: var(--ad-delete-btn);
    color: var(--ad-font-light);
}

.active {
    background: var(--ad-secondary-hover);
}

.hover-animation {
    cursor: pointer;
    transition: 0.8s;
}

.hover-animation:hover {
    transform: scale(1.02);
    transition: 1.2s;
}

#no-active-accounts {
    text-align: center;
}



/* ################################################## */
/* ############## Login and Register ################ */
/* ################################################## */

.form-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.form-nav-btn {
    margin: 1rem;
}

.form {
    max-width: max-content;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.req {
    color: red;
}

.form-hdr {
    background-color: var(--paragraf-border);
    color: var(--primary-font-color);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin: auto;
}

.form-hdr h1 {
    margin: 0;
    margin-left: 1rem;
}

.form-body {
    width: 20rem;
    margin: 0rem 3rem;

    display: flex;
    flex-direction: column;
}

.form-body p {
    line-height: 0.4rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-top: 0.5rem;
}

.form-label label {
    line-height: 1.6rem;
}

.form-input {
    display: flex;
}

.left {
    width: 2rem;
    padding: 0 0.25rem;
    margin: 0;
    line-height: 1.8rem;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.left-input {
    width: 100%;
    border: 1px solid black;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.right {
    width: 2rem;
    padding: 0 0.25rem;
    margin: 0;
    line-height: 1.8rem;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.both-input {
    width: 100%;
    border: 1px solid black;
}

.toggle-password {
    cursor: pointer;
}

#strength-bar{
    width: 100%;
    height: 0.5rem;
    background: #ddd;
    border-radius: 0.25rem;
    margin: 1rem 0;
    overflow: hidden;
}

#strength-fill{
    width: 0%;
    height: 100%;
    background: red;
    transition: 0.3s;
}

.form-btm {
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-btm a {
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
    margin: 0;
}

.form-btm button {
    font-size: 1rem;
    margin: 0;
}

.no-border {
    border: none;
}

.not-done {
    color: #ef4444;
}

.done {
    color: #16A34A;
}



/* ####################################### */
/* ############## SANDBOX ################ */
/* ####################################### */

#sandbox {
    width: 40rem;
    min-height: 20rem;
    margin: auto;
    margin-top: 4rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
}

#button1 {
    padding: 1rem 2rem;
    margin: auto;
    background-color: #00145f;
    color: #fff;
    border-radius: 1rem;
}

#button2 {
    padding: 1rem 2rem;
    margin: auto;
    background-color: #f4af1b;
    border-radius: 1rem;
}

#colorpalette {
    width: 40rem;
    min-height: 10rem;
    margin: auto;
    margin-top: 4rem;
    border-radius: 1rem;
    display: flex;
}

#colorpalette div {
    flex: 1;
    margin: 0.2rem;
    border-radius: 0.5rem;
}

#color1 {
    background-color: #030E4F;
}

#color2 {
    background-color: #06136A;
}

#color3 {
    background-color: #22C55E;
}

#color4 {
    background-color: #16A34A;
}
.menusize{
    font-size: 3rem;
}