:root {
    /* Admin design */
    --ad-background: #f5f7fb;
    --ad-primary: white;
    --ad-secondary: #030E4F; /* #111827 */
    --ad-secondary-hover: #1c286b; /* #1f2937 */

    --ad-font-dark: black;
    --ad-font-light: white;
    --ad-font-lightdark: #9ca3af;

    --ad-boxshadow: 0 4px 10px rgba(0,0,0,0.05);

    --ad-light-table-hdr: #3e46b0;
    --ad-light-table-seperator: rgb(103, 103, 164);

    --ad-edit-btn: #3b82f6;
    --ad-delete-btn: #ef4444;

}

#admin-panel-body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    height: 100vh;
    background: var(--ad-background);
}

/* Admin sidebar */
.sidebar {
    width: 15rem;
    background: var(--ad-secondary);
    color: white;
    padding: 0 1.25rem;
}

.sidebar h2 {
    font-size: 1.5rem;
    margin: 1.25rem 0;
}

.sidebar a {
    display: block;
    color: var(--ad-font-lightdark);
    text-decoration: none;
    padding: 0.75rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.sidebar a:hover {
    background: var(--ad-secondary-hover);
    color: white;
}

/* Admin panel layout */
.panel-layout {
    flex: 1;
    padding: 0 1.25rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
}

.header h1 {
    font-size: 1.75rem;
    margin: 1.25rem 0;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: 1.25rem;
}

.card {
    background: var(--ad-primary);
    padding: 1.25rem;
    border-radius: 1rem;
    box-shadow: var(--ad-boxshadow);
}

.card h3 {
    font-size: 1.25rem;
    margin-top: 0rem;
    margin-bottom: 0.75rem;
}

.table {
    margin-top: 1.75rem;
    background: var(--ad-primary);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: var(--ad-boxshadow);
}

.table table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 1rem;
    text-align: left;
}

.table th {
    background: var(--ad-light-table-hdr);
    color: var(--ad-font-light);
}

.table tr:not(:last-child) {
    border-bottom: 2px solid var(--ad-light-table-seperator);
}

.btn {
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0rem 0.25rem;
}

.btn-edit {
    background: var(--ad-edit-btn);
    color: var(--ad-font-light);
}

.btn-delete {
    background: var(--ad-delete-btn);
    color: var(--ad-font-light);
}

.active {
    background: var(--ad-secondary-hover);
}

.hover-animation {
    cursor: pointer;
    transition: 0.8s;
}

.hover-animation:hover {
    transform: scale(1.02);
    transition: 1.2s;
}

#no-active-accounts {
    text-align: center;
}
